#title{
    margin-top: 15px;
}

#account_container{
    max-width: 600px;
    margin: 25px auto;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#account_information{
  margin-bottom: 10px;
}

.edit{
    background-color: var(--black) !important;
    border: var(--black) solid !important;
}

#signout_button{
    background-color: var(--error-red) !important;
    border: var(--error-red) solid !important;
}