/* General Layout and Structure */
.dashboard {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: -10px;
}

/* Cards and Boxes */
.box {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.stack {
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
    justify-content: center;
}

.stack:hover {
    transform: none !important;
    box-shadow: none !important;
}

.square {
    width: 35vw;
    height: 35vw;
    max-height: 100%;
    max-width: 100%;
    max-width: 175px;
    max-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wide {
    grid-column: span 2;
}

.wider {
    grid-column: span 3;
}

.widest {
    grid-column: span 4;
}

/* Card Styling */
.word_card {
    width: 98%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.word_card:hover {
    background-color: var(--cardboard);
    color: transparent;
}

.word_card::after {
    width: 100%;
    content: "View Definition";
    word-break: keep-all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
}

.word_card:hover::after {
    opacity: 1;
}

/* Dashboard Specific Elements */
#leaderboard {
    display: block;
    overflow: auto;   
    max-height: 275px;
}

#word_history {
    display: block;
    overflow: auto;
    max-height: 275px;
}

#calendar {
    width: 100%;
    height: 75%;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .wide, .wider, .widest {
        grid-column: span 3;
    }

    .stack {
        flex-direction: row;
        grid-column: span 3;
        max-height: 200px;
    }

    .bottom {
        margin-top: 0px !important; 
        margin-left: 50px;
    }

    #calendar {
        height: 70%;
    }
}

/* Other Styling */
.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #6c757d;
}

.bottom {
    margin-top: 10px;
}