/* General Layout and Structure */
#container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 20px;
}

/* Dictionary Container */
.dictionary-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.definition-result {
    height: 250px;
}

#result {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.definition{
    margin-bottom: 5px;
}

/* History Container */
.history-container {
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 10px;
    width: 100%;
    height: 200px;
    overflow: auto;
    padding: 5px;
}

/* Card Styling */
.word-card {
    max-width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.word-card:hover {
    background-color: var(--cardboard);
    color: transparent;
}

.word-card::after {
    width: 100%;
    content: "View Definition";
    word-break: keep-all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
}

.word-card:hover::after {
    opacity: 1;
}

/* Input Group */
.input-group .form-control {
    margin-right: 5px;
}

/* Title Section */
#title {
    margin-top: 15px;
}

/* Search Buttons */
#searchbar{
   border-radius: 0px;
}

#search-button {
    background: var(--black);
    border: solid var(--black);
    padding: 10px;
    aspect-ratio: 1/1;
}

#random-button {
    background: var(--black);
    border: solid var(--black);
    padding: 10px;
    aspect-ratio: 1/1;
}

/* Specific Text Styling */
.defined-word {
    font-weight: 750;
    font-size: 30px;
}