.container {
    margin-top: 200px;
    max-width: 600px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--black) ;
}

#title{
    margin-top: 15px;
}