#title{
    margin-top: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#game_container {
  background-color: var(--white);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 525px;
  height: 525px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-in-out;
  font-size: clamp(16px, calc(min(525px, 90vw) / 20), 26px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game_container > div {
  margin-bottom: 5px;
  font-size: 1rem;
}

#link_container {
  background-color: var(--white);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 525px;
  height: 525px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-in-out;
  font-size: clamp(16px, calc(min(525px, 90vw) / 20), 26px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .word-display {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .answer-list {
    list-style: none;
    padding: 0;
  }

  .answer-button {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    overflow: hidden;
    height: 95px;
    color: white;
    background-color: var(--cardboard);
    color: var(--black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }

  .answer-button:hover {
    background-color: var(--);
  }

  .answer-button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--black);
  }

  #timer{
    position: absolute;
    top: 10px;
    right: 20px;
  }

  /* Button styling */
  #start_button {
    background-color: var(--success-green);
    color: var(--white);
    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;
    margin-top: 20px;
    width: 30%;
    height: 12.5%;
    font-size: 1.35rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #start_button:hover {
    background-color: var(--success-green);
    transform: translateY(-2px);
  }
  #start_button:active {
    background-color: var(--success-green);
    transform: translateY(0);
  }

#link{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 350px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    scrollbar-width: none;
}

#answer_container{
    display: flex;
    gap: 10px;
    height: 35px;
    margin-top: 20px;
}

#requiredLength{
    font-size: 16px;
}

#strikes{
    font-size: 16px;
}

#linkLength{
    font-size: 16px;
    width: 90%;
}

#submit_button{
    font-size: 20px;
}