  /*----Basic Elements----*/
  #title {
    margin-top: 15px;
  }

  /*----Layout Containers----*/
  /* Main Game Area */
  #game_container {
    background-color: var(--white);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    max-width: 525px;
    height: 525px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in-out;
    font-size: clamp(16px, calc(min(525px, 90vw) / 20), 26px);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #game_container > div {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  
  /* Search Container */
  #search_container {
    background-color: var(--white);
    width: 90%;
    max-width: 525px;
    min-width: 375px;
    margin: 50px auto 0;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: clamp(16px, calc(min(525px, 90vw) / 20), 26px);
  
    display: block;
    justify-content: center;
    align-content: center;
  
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in-out;
  }
  
  /*----Letter Grid and Puzzle Elements---- */
  #selected_letters {
    font-weight: bold;
    direction: rtl;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #letter_grid {
    --rows: 10;
    --cols: 10;
    --letter-size: 20px;
  
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: 50px; /* Make all rows equal height */
    gap: 5px;
  
    width: 100%;
    margin: 0 auto;
  
    pointer-events: none;
    position: relative;
  }
  
  .letter {
    width: 100%;
    height: 100%;
    clip-path: circle();
    background-color: transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
  
    position: relative;
    z-index: 2;
    pointer-events: auto;
  
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .line {
    height: 10px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: rgb(151, 172, 240);
    transform-origin: center center;
  }

  #find_word {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
  }
  
  /*---- Card UI & Definitions Section----*/
  .card_container {
    margin: 100px auto;
    max-width: 600px;
    height: 500px;
    padding: 5px;
  
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--black);
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 10px;
    overflow: auto;
  }
  
  .card {
    max-width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
  
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    cursor: pointer;
    position: relative;
  }
  
  .card:hover {
    background-color: var(--cardboard);
    color: transparent;
  }
  
  .card::after {
    content: "View Definition";
    width: 100%;
    word-break: keep-all;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: black;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
  }
  
  .card:hover::after {
    opacity: 1;
  }
  
  /*----Button Styling----*/
  #start_button {
    background-color: var(--success-green);
    color: var(--white);
    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;
    margin-top: 20px;
  
    width: 30%;
    height: 12.5%;
    font-size: 1.35rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #start_button:hover {
    background-color: var(--success-green);
    transform: translateY(-2px);
  }
  
  #start_button:active {
    background-color: var(--success-green);
    transform: translateY(0);
  }
  
  /*----Animations----*/
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  