/*---- Title ----*/
#title {
    margin-top: 15px;
}
  
/*---- Game Container ----*/
#game-container {
    width: 90%;
    max-width: 600px;
    height: 600px;
    margin: 30px auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    font-size: 1.5rem;
    opacity: 0;
    animation: fade-in 0.5s forwards ease-in-out;
}

/*---- Screens ----*/
#start-container,
#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*---- Start Button ----*/
#start-button {
    width: 100px;
    margin-top: 20px;
    padding: 0.75rem 1.5rem;
    font-size: 1.35rem;
    background: var(--success-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#start-button:hover { 
    transform: translateY(-2px); 
}

#start-button:active { 
    transform: translateY(0); 
}

/*---- Search Header ----*/
#top {
    width: 100%;
    height: 31px;
}

#selected-letters {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*---- Letter Grid ----*/
#letter-grid {
    --rows: 10;
    --cols: 10;
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    position: relative;
    pointer-events: none;
}

.letter {
    width: 100%;
    height: 100%;
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(8vw, 30px);
    font-weight: bold;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    pointer-events: auto;
    user-select: none;
}

/*---- Lines ----*/
.line {
    height: 10px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: rgb(151, 172, 240);
    transform-origin: center center;
  }

#search-container hr{
    width: 100%;
}

/*---- Search Footer ----*/
#find-word {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

/*---- Animations ----*/
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}