#leaderboard{
    display: flex;
    width: 500px;
    height: 500px;
    overflow: auto;
    border: black solid 5px;
    border-radius: 1%;
    display: block;
    padding: 20px;
    margin: 10px;
}

#signin_area{
    width: 500px;
    border: solid 5px;
    margin: 10px;
    padding: 10px;
}


.option_button{
    width: 40%;
    margin-left: 6%;
}

.notifications{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px; 
    max-width: 90%; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.notification{
    padding: 15px;
    border-radius: 8px;
    background-color: #444;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateX(100%); /* Start off-screen to the right */
}

@keyframes slideIn {
    from {
      opacity: 0.5;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

/*DICTIONARY*/
.dictionary_container {
    max-width: 600px;
    min-height: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
.input-group .form-control {
    margin-right: 5px;
  }

.defined_word{
    font-weight: 750;
    font-size: 30px;
}

.part_of_speech{
    font-weight: 600;
    margin-top: 10px;
}

/*ACCOUNT*/
.account_container{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#account_information{
  margin-bottom: 10px;
}
