:root{
  --white: #EDEDE9;
  --beige: #F5EBE0;
  --cardboard: #D6CCC2;
  --tan: #b7a79d;
  --black: #3B3636;
  --error-red: #F05656;
}

body{
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 450 !important;
  font-style: normal !important;
  background: var(--cardboard) !important;
}

.navbar{
  background: var(--tan) !important;
}

.notifications{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px; 
    max-width: 90%; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.notification{
    padding: 15px;
    border-radius: 8px;
    background-color: var(--tan);
    color: rgb(20, 20, 20);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    word-wrap: break-word;
    transform: translateX(100%); 
}

@keyframes slideIn {
    from {
      opacity: 0.5;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

::-webkit-scrollbar {
    background-color: var(--cardboard);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--tan);
}
